/* styles_4.3 */

body {
	margin: 0;
	top: 0;
	left: 0;
	overflow-x: visible;
	overflow-y: scroll;
    background-color: #222;
	background-image: linear-gradient(to bottom right, #6315a8, #6e4f89);
}

/* HEADER */
div.header { 
	top: 0;
	left: 0;
	display: block;
	position: static;
	width: 100%;
	margin: auto;
	background-color: #6315a8;
	background-image: linear-gradient(to right, #6315a8, #683398);
    text-align: center;
    padding-bottom: 15px;
}


/* LOGO area */
div#logo {
    display: block;
    float: left;
    margin-left: 3%;
	font-family: Raleway, sarif;
    color: white;
    margin-top: 30px;
	margin-bottom: 70px;
	
}
img.logo {
	display: inline-block;
	/* sizing issue with picture in HTML. must use CSS to properly place and size pic */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../images/CB_logo.jpg) no-repeat;
	height: 65px;
	width: 60px;
	margin-top: -8px;
	margin-right: 10px;
}
div.name {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
div#name {
	letter-spacing: 1px;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 7px;
}
div#title {
	font-size: 1.2em;
}
/* end LOGO area */


/* NAV BAR */
nav {
	display: block;
	position: static;
	margin: auto;
    width: 500px;
    margin-right: 2%;
    margin-top: 20px;
}
#nav-1 ul li {
	margin-top: 25px;
}
#nav-2 {
	margin-top: -20px;
}
.nav-btn {
	display: inline-block;
	margin: auto;
	font-family: Raleway, monospace;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.07em;
    text-align: center;
    margin-bottom: 20px;
}
.fa-linkedin {
    padding-right: 8px;
}
.fa-github {
    padding-right: 8px;
}
.fa-codepen {
    padding-right: 8px;
}
.nav-btn a {
	color: white;
	text-decoration: none;
	padding: 0.35em;
}
.nav-btn a:hover {
	transition: border 0.2s linear;
	border-bottom: thin solid black;
} 
/* END NAV area & HEADER */


/* LANDING PAGE */
#landing-page {
	display: block;
	padding: 0;
	margin: auto;
	width: 100%;
    padding-top: 1px;
    height: 500px;
}
div.titles {
    display: block;
    margin: auto;
    width: 100%;
    font-family: Montserrat, sarif;
	color: white;
	letter-spacing: 0.1em;
	word-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
    padding: 10px;
    margin-top: 75px;
}
div.titles h1 {
    font-size: 2.1em;
}
div.titles h2 {
    font-size: 1.25em;
    padding-top: 20px;
} 
/* Landing page end */



/* INTRO */
.intro-container {
	background-color: rgb(218, 213, 224);
	width: 100%;
	margin: auto;
	padding-top: 75px;
	padding-bottom: 75px;
}
#intro {
	width: 60%;
	margin: auto;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
#intro img {
	display: flex;
	order: 1;
	align-self: flex-start;
	height: auto;
	width: 60%;
	border-style: solid;
	border-color: white;
	border-radius: 5%;
}
#intro p {
	display: flex;
	flex-grow: 3;
	order: 2;
	padding-left: 50px;

	font-family: Montserrat, sans-serif;
	color: black;
	font-size: 1.2em;
	width: auto;
	text-align: justify;
	line-height: 1.5;
} 
/* Intro section end */



/* PORTFOLIO */
#port {
    margin: auto;
    background-color: #222222;
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 75px;
}
#port h3 {
	font-family: Montserrat, sans-serif;
	color: white;
	font-size: 2em;
	width: 100%;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}
.port-container {
	width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.slide-container {
	display: flex;
	flex-direction: column;	
	padding-bottom: 10px;
}
.picslide {
	width: 100%;
	height: auto;
}
.slide-description {
	display: flex;
	flex-direction: column;
}
.slide-description p {
	font-family: Montserrat, sans-serif;
	color: white;
	font-size: 1.2em;
	width: 100%;
	text-align: justify;
    line-height: 1.5;
}
.para {
    padding-bottom: 100px;
}
.last-p {
    padding-bottom: 50px;
} 
/* Portfolio section end */


/* TECH ICONS */
#tech {
	background-color: rgb(218, 213, 224);
	padding-left: 50px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 50px;
}
#tech h3 {
	font-family: Montserrat, sans-serif;
	font-size: 2em;
	width: 100%;
	margin: auto;
	text-align: center;
    margin-bottom: 50px;
}
.tech-icons ul {
	width: 70%;
	margin: auto;
}
.tech-icons li {
	font-family: Raleway, sans-serif;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	font-weight: bold;
	
	width: 150px;
	height: 120px;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 20px;
}
.tech-icons li img {
	display: block;
	margin: auto;
	margin-bottom: 10px;
} /* Tech Icons section end */



/* FOOTER */
#footer {
	background-color: #222;
	display: block;
	position: static;
	text-align: center;
	margin: auto;
	width: 100%;
	height: auto;
	padding-top: 50px;
}
#footer a {
	text-decoration: none;
	width: 100%;
	height: auto;
	margin: auto;
	font-family: Raleway, serif;
	color: white;
}
#footer a:hover {
	transition: border 0.2s ease-out;
	border-bottom: thin solid white;
} 
div#copyright {
	background-color: #222;
	display: block;
	text-align: center;
	font-family: Montserrat, monospace;
	color: white;
	font-size: 0.75em;
	padding-top: 50px;
	padding-bottom: 40px;
}



/* MEDIA QUERY - Responsiveness */
@media (max-width: 900px) {
	div.header {
		padding-bottom: 0px;
	}
	div#logo {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		padding-left: 15px;
	}
	nav {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
        padding: 20px;
	}
	#nav-1 ul li {
        margin-top: 0px;
	}
	#nav-2 {
		margin-top: -70px;
    }
    #nav-1, #nav-2 {
        margin-left: -25px;
    }
	.nav-btn {
		display: block;
		margin: auto;
		margin-bottom: 0px;
        padding-bottom: 10px;
	}
	.nav-btn a {
		padding: 0.20em;
	}
	#landing-page {
        height: auto;
        padding-bottom: 50px;
	}
	div.titles {
		margin-top: 0px;
	}
	div.titles h1 {
		font-size: 1.5em;
	}
	div.titles h2 {
		font-size: 1em;
        padding-top: 10px;
        line-height: 1.8;
	} 
	#intro {
		width: 90%;
		flex-direction: column;
		justify-content: space-evenly;
		align-self: center;
	}
	#intro img {
		width: 25%;
		align-self: center;
	}
	#intro p {
        width: 90%;
        padding-left: 0px;
	}
	.port-container {
		width: 90%;
	}
	.tech-icons ul {
        width: 95%;
        margin-left: -30px;
	}
}
@media (min-width: 551px) and (max-width: 680px) {
    #intro img {
        width: 35%
    }
}
@media (min-width: 0px) and (max-width: 550px) {
    #intro img {
        width: 40%
    }
}